.popup__content {
  box-sizing: border-box;
  width: 430px;
  background-color: #fff;
  color: #000;
  position: relative;
  padding: 34px 36px 37px;
  border-radius: 10px;
}

@media screen and (max-width: 620px) {
  .popup__content {
    width: 282px;
    padding: 25px 22px;
  }
}