.popup__close {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/buttons/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: rgba(0,0,0,0);
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
  transition: .3s;
}

@media screen and (max-width: 620px) {
  .popup__close {
    right: 0;
    top: -36px;
    width: 20px;
    height: 20px;
  }
}