.popup__input {
  border: none;
  width: 100%;
  max-height: 28px;
  box-sizing: border-box;
  padding: 0;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  color: #000;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  line-height: 17px;
}