.header {
  max-width: 880px;
  width: 100%;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 576px) {
  .header {
    padding-bottom: 31px;
  }
}